

 .slider {
  position: relative;
  height: 300px;
  display: flex;
  margin-top: 50px;
  width: 500px;
  gap: 20px;
  transition: transform ease 0.2s;
}

 .slide.active {
  transform: scale(1.1);
  opacity: 1;
}

.slider-wrapper {
  position: relative;
}

 .prev-button {
  position: absolute;
  top: 50%;
  left:-29px;
  z-index: 1;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 26px;
  z-index: 1;
}
 .slick-list{
  margin-left: 46px !important;
}
.allCategorydata .zoom-effect {
  overflow: hidden;
  width: 300px; /* Adjust based on your image size */
  height: 200px; /* Adjust based on your image size */
}

.allCategorydata .zoom-effect img {
  transition: transform 0.8s ease;
}

.allCategorydata  .zoom-effect:hover img {
  transform: scale(1.1); /* Adjust the zoom level as needed */
  height: 190px;
  width:  190px;
}